* {
    color-scheme: dark;
    transition: 1s;
    font-family: ui-monospace;
}

@font-face {
    font-family: 'Luxora';
    src: url('LuxoraGrotesk-Light.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.chat_element_radio {
    display: none;
}

video, img, embed{
    max-width: 95%;
}